<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.schoolapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="com.app.schoolapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/smart_school_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smart_school_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBufM4Ufm-ERSy_XDAp3SbalfQ2jZxwyqA" />


        <activity
            android:name=".student.StudentDashboard"
            android:label="@string/title_activity_student_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_student_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SignUp"
            android:label="@string/title_activity_student_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ForgotPassword"
            android:label="@string/title_activity_student_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parent.ParentProfile"
            android:label="@string/title_activity_parent_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parent.ParentDashboard"
            android:label="@string/title_activity_parent_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.StudentAttendance"
            android:label="@string/title_activity_student_attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.StudentResult"
            android:label="@string/title_activity_student_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.StudentTimeTable"
            android:label="@string/title_activity_student_result"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.ComplaintActivity"
            android:label="@string/title_activity_complaint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.ConnectToTeacher"
            android:label="@string/title_activity_connect_to_teacher"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.Eventcalendar"
            android:label="@string/title_activity_eventcalendar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.FeesPaymentHistory"
            android:label="@string/title_activity_fees_payment_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parent.StudentIdCard"
            android:label="@string/title_activity_student_id_card"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.StudentDiaryActivity"
            android:label="@string/title_activity_student_diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.PublicForumActivity"
            android:label="@string/title_activity_public_forum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parent.Tracktransport"
            android:label="@string/title_activity_tracktransport"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>